<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--A porta configurada deve ser a porta do próprio appserver e não a do nameserver-->
    <add key="cnAppServer" value="AppServerDC://srv-totvsdes:13515/datasul-12116-progress-8180"/>
    <add key="logMode" value="File"/>
    <add key="logPath" value="c:\temp\MRN-ADUpdate.log"/>
    <add key="SessionMode" value="0"/>
    <!-- Inicio Configuração de parametros de conexão com o progress  -->
    <!--<add key="appSocketTimeout" value="1000"/>
    <add key="appTcpClientRetryInterval" value="1000"/>
    <add key="appRequestWaitTimeout" value="240"/>
    <add key="appKeepAliveInterval" value="80000"/>-->
    <add key="appPassword" value=""/>
    <add key="appUser" value=""/>
    <add key="appServerInfo" value=""/>
    <!-- Fim Configuração de parametros de conexão com o progress  -->
  </appSettings>
</configuration>